@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic|Amatic+SC:700);

        html, body {
            margin: 0;
            padding: 0px;
            height: 100%;
            overflow-x: hidden;
            overflow-y: hidden;
        }

        #wrap {
            width: 100%;
            margin: auto;
            height: 100%;
        }

        #one {
            width: 50%;
            float: left;
            height: 100%;
            background: #73CCDE ;
        }

        #wrapbutton {
            width: 500px;
            position: absolute;
            height: auto;
            background: #000;
            bottom: 0;
        }

        #two {
            width: 50%;
            float: left;
            height: 100%;
            background: #4EA3BD;
        }

        #expres {
            margin: auto;
            background: transparent;
            position: relative;
            top: 30%;
            -webkit-transform: translateY(-30%);
            -ms-transform: translateY(-30%);
            transform: translateY(-30%);
        }

        #profimg {
            width: 180px;
            height: 180px;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            -moz-box-shadow: 0 0 8px rgba(0,0,0,.09);
            -webkit-box-shadow: 0 0 8px rgba(0,0,0,.09);
            box-shadow: 0 0 8px rgba(0,0,0,.09);
            display: block;
            margin: 0 auto;
            animation: movement 1s linear;
            -webkit-animation: movement 1s linear;
        }

        #profimg2 {
            width: 180px;
            height: 180px;
            text-align: center;
            vertical-align: middle;
            border-radius: 50%;
            -moz-box-shadow: 0 0 8px rgba(0,0,0,.09);
            -webkit-box-shadow: 0 0 8px rgba(0,0,0,.09);
            box-shadow: 0 0 8px rgba(0,0,0,.09);
            display: block;
            border: 7px solid #fff;
            margin: 0 auto;
            animation: movement 1s linear;
            -webkit-animation: movement 1s linear;
        }

        #expres h1 {
            color: #fff;
            text-align: center;
            font-size: 4em;
            width: 180px;
            margin: auto;
            font-family: 'Amatic SC', cursive;
        }

        h1 {
            color: #fff;
            text-align: center;
            font-size: 5rem;
            border-bottom: 1px solid #fff;
            width: 180px;
            margin: auto;
            font-family: 'Amatic SC', cursive;
        }

        #expres h2 {
            color: #fff;
            text-align: center;
            font-size: 5rem;
            width: 180px;
            margin: auto;
            margin-top: 80px;
            font-family: 'Amatic SC', cursive;
        }

        #time {
            color: #fff;
            text-align: center;
            font-size: 5rem;
            width: 180px;
            margin: auto;
            margin-top: 80px;
            position: absolute;
            z-index: 1000;
            margin-left: -90px;
            font-family: 'Amatic SC', cursive;
        }

        #timecount {
            color: #fff;
            text-align: center;
            font-size: 5rem;
            width: 180px;
            margin: auto;
            margin-top: 150px;
            position: absolute;
            z-index: 1000;
            margin-left: -90px;
            font-family: 'Amatic SC', cursive;
        }


        #winner {
            color: #fff;
            text-align: center;
            font-size: 4em;
            width: 190px;
            height: 50px;
            margin: auto;
            margin-top: 320px;
            position: absolute;
            z-index: 1000;
            margin-left: -90px;
            font-family: 'Amatic SC', cursive;
        }

        #prev {
            width: 180px;
            height: 50px;
            background: #000;
            color: #fff;
            bottom: 50px;
            font-size: 2em;
            border: 1px solid transparent;
            position: absolute;
            z-index: 1000;
            outline: none;
            margin-left: -90px;
            font-family: 'Amatic SC', cursive;
            cursor: pointer;
        }

        #res {
            width: 180px;
            height: 50px;
            background: #000;
            color: #fff;
            bottom: 90px;
            bottom: 170px;
            font-size: 2em;
            border: 1px solid transparent;
            position: absolute;
            outline: none;
            z-index: 1000;
            margin-left: -90px;
            font-family: 'Amatic SC', cursive;
            cursor: pointer;
        }

        #next {
            width: 180px;
            height: 50px;
            background: #000;
            color: #fff;
            bottom: 110px;
            font-size: 2em;
            outline: none;
            border: 1px solid transparent;
            position: absolute;
            z-index: 1000;
            margin-left: -90px;
            font-family: 'Amatic SC', cursive;
            cursor: pointer;
        }

        #mybut {
            color: #FFF;
            text-decoration: none;
            width: 30%;
            margin: auto;
            height: 50px;
            -webkit-gradient: linear-gradient(45deg, pink, skyblue);
            color: #fff;
            background: transparent;
            border: 2px solid #fff;
            margin: auto;
            font-size: 2em;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 1px;
            text-decoration: none;
            font-family: 'Amatic SC', cursive;
            outline: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .buttons {
            color: #FFF;
            text-decoration: none;
            width: 30%;
            margin: auto;
            height: 50px;
            -webkit-gradient: linear-gradient(45deg, pink, skyblue);
            color: #fff;
            background: transparent;
            border: 2px solid #fff;
            margin: auto;
            font-size: 2em;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-top: 1px;
            text-decoration: none;
            font-family: 'Amatic SC', cursive;
            outline: none;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        /*//=============================================================
        //               LOADING EFFECT
        //=============================================================*/


        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 10000;
            background: rgba(255,255,255,.9);
        }

        .flex {
            width: 50%;
            height: 50%;
            margin: auto;
            background: #6B9999;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        #backstart {
            color: #fff;
            text-align: center;
            font-size: 5rem;
            width: 180px;
            margin: auto;
            margin-top: 400px;
            position: absolute;
            z-index: 1000;
            margin-left: -90px;
            font-family: 'Amatic SC', cursive;
        }

        #hesber {
            color: #fff;
            text-align: center;
            font-size: 2em;
            width: 500px;
            margin: auto;
            z-index: 1000;
        }

        .hide {
            display: none;
        }

     