
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    background: Chocolate;
    font-size: 18px;
    font-family: 'Curier', monospace;

}

h1 {
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

p {
    margin-bottom: 2em;
    text-align: justify;
}

button {
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
    border: 4px solid rgba(0,0,0,0.6);
    border-radius: 5px;
    padding: 15px 60px;
    font-size: 1.5em;
    background: transparent;
    margin: 0 auto;
    display: block;
    outline: none;
}

#wrapper{
    width: 60%;
    margin: 0 auto;
}

.playground {
    font-size: 1.5em;
}

#time {
    text-align: center;
    margin: 1em 2em;
}

#progressbar {
    height: 60px;
    position: relative;
}

#progressbar .bar {
    background: #2d1606;
    height: 100%;
}

#progressbar #mycount {
    position: absolute;
    width: 50px;
    text-align: center;
    left: 50%;
    margin-left: -25px;
    color: #f3c5a5;
    font-size: 1.5em;
    line-height: 60px;
}

#clickButton {
    font-size: 1em;
    width: 50%;
    margin: 0 auto;
    margin-top: 1em;
    display: block;
    background-color: #2d1606;
    border-color: #2d1606;
    color: #f3c5a5;
}

.go button#startButton {
    border-color: transparent;

}

#voucher{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 700px;
    height: 400px;
    margin-left: -350px;
    margin-top: -200px;
    z-index: 1000;
}

#voucherBackground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 900;
}

.hide {
    display: none;
}

.voucher-discount, .voucher-code {
    color: #fff;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    font-size: 35px;
    text-align: center;
}

.voucher-discount {
    font-size: 170px;
}

.levels {
    height: 100px;
}

.levels .border{
    display: block;
    width: 100%;
    height: 50px;
}

.level1, .level2, .level3 {
    float: left;
    width: calc(100% /3);
    height: 100px;
    text-align: center;
    line-height: 50px;
}

.level1 .border,
.level2 .border,
.level3 .border{
    border-right: 4px solid #2d1606;
    border-top: 4px solid #2d1606;
    box-sizing: border-box;
}


.show0 .level1,
.show0 .level2,
.show0 .level3 {
    display: none;
}

.show10 .level2,
.show10 .level3 {
    display: none;
}

.show15 .level1 .border{
    border-right: none;
}
.show15 .level1 {
    font-size: 0;
}
.show15 .level3{
    display: none;
}

.show20 .level1,
.show20 .level2{
    font-size: 0;
}

.show20 .level1 .border,
.show20 .level2 .border
{
    border-right: none;
}

.hidden {
    opacity: 0;
}